@using BookStore.Data.Entities;
@model Author

@inject IBookSearchService service

<h1>@Model.FullName</h1>

<partial name="_BookItemList" 
    model="@service.Search(new BookSearchModel{ AuthorId=Model.Id})" />
