@inject IListService lstSrv
@{
    var data = lstSrv.GetPersonSelectList<Author>();
}
<form asp-action="Index" method="get" class="alert alert-info p-3" role="alert">
    <div class="row mb-1" >
        <div class="col">
            <input name="Name"  class="form-control" autocomplete="off" placeholder="kitabın adı..." />
        </div>
        <div class="col-1">
            
        </div>
        </div>

    <div class="row">
        <div class="col">
            <select name="CategoryId" class="form-control" asp-items="lstSrv.GetSelectList<Category>()">
                <option>kategori seçiniz</option>
            </select>
        </div>
        <div class="col">
            <select name="AuthorId" class="form-control" asp-items="@data">
                <option>yazar seçiniz</option>
            </select>
        </div>
      @*   <div class="col">
            <select name="PublisherId" class="form-control" asp-items="lstSrv.GetSelectList<Publisher>()">
                <option>yayıncı seçiniz</option>
            </select>
        </div> *@
        <div class="col-1">
            <input value="Search" type="submit" class="btn btn-dark" />
        </div>
    </div>
</form>