@model HomePageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-1">Book Store</h1>
    <h2 class="display-4">Admin Panel</h2>

    
</div>
<div class="row">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      


        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Books (@Model.BookCount)</h3>
                    
                </div>
            </div>
        </div><div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Authors (@Model.AuthorCount)</h3>
                    
                </div>
            </div>
        </div><div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" >
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Publishers (@Model.PublisherCount)</h3>

                </div>
            </div>
        </div>
    </div>
</div>